<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://localhost/TQCConfig">
  <Directories>
    <Vaults>null</Vaults>
    <TQ>null</TQ>
    <IT>null</IT>
    <AE>null</AE>
  </Directories>
  <UseInventories>true</UseInventories>
  <UseCaravan>false</UseCaravan>
  <UseVaults>false</UseVaults>
  <UseIT>false</UseIT>
  <UseSP>false</UseSP>
  <UseAE>false</UseAE>
  <Language>en</Language>
  <UseItemCount>true</UseItemCount>
  <UseItemOwned>true</UseItemOwned>
  <UseCheckBox>false</UseCheckBox>
  <UseSocketed>false</UseSocketed>
  <Filters>
    <MonsterInfrequent>
      <Amount>All</Amount>
      <Normal>true</Normal>
      <Epic>false</Epic>
      <Legendary>true</Legendary>
    </MonsterInfrequent>
    <Relics>
      <Amount>All</Amount>
      <Normal>false</Normal>
      <Epic>false</Epic>
      <Legendary>false</Legendary>
    </Relics>
    <Charms>
      <Amount>All</Amount>
      <Normal>false</Normal>
      <Epic>false</Epic>
      <Legendary>true</Legendary>
    </Charms>
    <Artifacts>
      <Amount>All</Amount>
      <Normal>false</Normal>
      <Epic>false</Epic>
      <Legendary>false</Legendary>
    </Artifacts>
    <Sets>
      <Amount>All</Amount>
      <Epic>true</Epic>
      <Legendary>true</Legendary>
      <Count>false</Count>
    </Sets>
    <Uniques>
      <Amount>All</Amount>
      <Epic>true</Epic>
      <Legendary>false</Legendary>
    </Uniques>
    <Parchments>
      <Amount>All</Amount>
    </Parchments>
    <Formulae>
      <Amount>All</Amount>
      <Normal>false</Normal>
      <Epic>false</Epic>
      <Legendary>false</Legendary>
    </Formulae>
  </Filters>
</Config>